<h1 class="text-center">Sign Up!</h1>
<form class="signup-form container">
  <div class="row justify-content-center m-2">
    <label class="col-2 text-end" for="username-signup">username:</label>
    <input class="col-3" type="text" id="username-signup"/>
    <div class="col-2"></div>
  </div>
  <div class="row justify-content-center m-2">
    <label class="col-2 text-end" for="email-signup">email:</label>
    <input class="col-3" type="text" id="email-signup"/>
    <div class="col-2"></div>
  </div>
  <div class="row justify-content-center m-2">
    <label class="col-2 text-end" for="password-signup">password:</label>
    <input class="col-3" type="password" id="password-signup"/>
    <div class="col-2"></div>
  </div>
  <div class="row justify-content-center m-2">
    <button class="col-2 btn btn-success" type="submit">signup</button>
  </div>
</form>
<script src="/javascript/signup.js"></script>